<!DOCTYPE html>
<html>
<head>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAJhV3LE9P0_GiojlU04Qb1CBTE3yhWNzo&sensor=false"></script>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>
<body>
<div>
<b>Hello  Mr. {{user}}</b>
</div>
<div style="width:10%;float:left;height:600px;background:#C8C8C8 ">
{% if  user.is_superuser %}
<a href="/getAllPath">All Path</a><br/>
<a href="/path/1">Path1</a><br/>
<a href="/path/2">Path2</a><br/>
<a href="/path/3">Path3</a>
{% elif user.is_staff %}
<a href="/getAllPath">All Path</a><br/>
<a href="/path/1">Path1</a><br/>
<a href="/path/2">Path2</a><br/>
{% else %}
<a href="/path/3">Path3</a>
{% endif %}
</div>
<div id="plotmap" style="width:90%;height:600px;"></div>
<input id="dataid" type="hidden" value="0"/>
<script>
var lat={{data.lat}};
var lang={{data.lang}};
var name='{{data.name}}';
var myCenter=new google.maps.LatLng(lat,lang);
myTrip=[myCenter];
var mapProp = {
  center:myCenter,
  zoom:10,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };
var map=new google.maps.Map(document.getElementById("plotmap"),mapProp);
setMarker(myCenter,name,lat,lang);	
function setMarker(myCenter,name,lat,lang)
	{
		var content ="<div>Name:"+name+"<br> Latitude:"+lat+" <br> Langitude:"+lang+"</div>"
		var marker=new google.maps.Marker({
  		position:myCenter,
  		});
	marker.setMap(map);
		var infowindow = new google.maps.InfoWindow({
  		content:content
  		});
	infowindow.open(map,marker);

	}

function path1(myCenter,name,lat,lang)
{
myTrip.push(myCenter);
var flightPath=new google.maps.Polyline({
  path:myTrip,
  strokeColor:"#B6B6B4",
  strokeOpacity:0.8,
  strokeWeight:4
  });
flightPath.setMap(map);
setMarker(myCenter,name,lat,lang);
}
/*
function plotnew(myTrip,myCenter,name,lat,lang)
	{
		myTrip.push(myCenter)
		path1(myTrip,myCenter,name,lat,lang)
	}*/
function plotmaps()
	{
		incr=document.getElementById("dataid").value;
		$.ajax({
       	       		url:'/ajax',
			type: "POST",
			data:{'incr':incr,'id':'{{data.pathid.id}}',csrfmiddlewaretoken: '{{ csrf_token }}'},
	       		success: function(data){
				if (data=="Finished")
					{clearInterval(myinter) }
				else
					{
					item=JSON.parse(data);
					document.getElementById("dataid").value=item['incr'];
					x=new google.maps.LatLng(item['lat'],item['long']);
					path1(x,item['name'],item['lat'],item['long']);
					//plotnew(myTrip2,x,item['name'],item['lat'],item['long']);
					}
				}

			});
	}
var myinter=setInterval(plotmaps,5000);	
</script>
</body>
</html> 
